@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-lobster: var(--font-lobster);
  --font-dm: var(--font-dm);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #000000;
  --foreground: #D4D4D4;
  --card: #0A0A0A;
  --card-hover: #161616;
  --card-foreground: #71767B;
  --popover: #00A373;
  --popover-foreground: #F0F3F2;
  --primary: #01BD82;
  --primary-foreground: #0A0A0A;
  --secondary: #00A0BD;
  --secondary-foreground: #F0F3F2;
  --muted: #242C2A;
  --muted-foreground: #6B726F;
  --accent: #ff4242;
  --accent-foreground: #F0F3F2;
  --destructive: #E74C3C;
  --border: #0D5E4A;
  --border-dark: #1F1F22;
  --input: #1A1A1A;

  --gradient-primary: linear-gradient(to right, rgba(1, 189, 130, 0.3) 0%, transparent 60%);
  --slogan-background: linear-gradient(to right, transparent 0%, rgba(16, 16, 18, 0.60) 10%, rgba(16, 16, 18, 0.60) 90%, transparent 100%);
  --gradient-primary-to-top: linear-gradient(to top, rgba(1, 189, 130, 0.4), rgba(0, 87, 60, 0.3));
  /* --radius: 0.625rem;
  --background: #F8FAFA;
  --foreground: #1A1A1A;
  --card: #FFFFFF;
  --card-foreground: #555555;
  --popover: #018A60;
  --popover-foreground: #F8FAFA;
  --primary: #01BD82;
  --primary-foreground: #F8FAFA;
  --secondary: #00A0BD;
  --secondary-foreground: #F8FAFA;
  --muted: #F0F7F5;
  --muted-foreground: #888888;
  --accent: #FF4D6D;
  --accent-foreground: #F8FAFA;
  --destructive: #E74C3C;
  --border: #A0E3CF;
  --input: #F0F7F5; */


  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer utilities {
  .bg-gradient-primary {
    background-image: var(--gradient-primary);
  }

  .bg-slogan-background {
    background-image: var(--slogan-background);
  }

  .bg-gradient-primary-to-top {
    background-image: var(--gradient-primary-to-top);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #01BD82;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #01BD82;
  }

  .scrollbar-hidden {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

}

@layer base {
  * {
    @apply border-border outline-ring/50 caret-primary;
  }

  body {
    @apply bg-background text-foreground font-inter;
  }

  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-background px-6 pb-10 pt-24 max-md:pb-32 sm:pl-10;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto pb-5 pt-0 max-md:hidden;
  }

  .leftsidebar_link {
    @apply font-inter font-normal text-[18px] relative flex justify-start items-center gap-4 p-4 pr-10 leading-6;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-4 overflow-auto px-10 pb-6 pt-4 max-xl:hidden;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-[#10101299] p-4 backdrop-blur-lg max-[400px]:p-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 max-[400px]:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .movie_title {
    @apply font-dm text-foreground
  }

  .Heading {
    @apply font-inter text-foreground text-2xl leading-normal font-bold
  }

  .no-result {
    @apply font-inter text-[14px] font-semibold text-foreground my-3 text-center;
  }

  .comment-form {
    @apply mt-10 flex items-center gap-4 border-y border-y-border-dark py-5 @max-xs:flex-col;
  }

  .comment-form_btn {
    @apply rounded-3xl bg-foreground px-8 py-2 font-semibold text-primary-foreground @max-xs:w-full hover:bg-primary;
  }




}